<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Connections</title>
</head>


<br/>
<a href="/connections/closeAll">Close all</a>
<br/>
<a href="/connections">Refresh</a>
<br/>
<body>
    <table border="yes">
        <tr>
            <th>Connection Id</th>
            <th>Connection Name</th>
            <th>ConnectTime</th>
            <th>Connection Status</th>
            <th>Stacks</th>
            <th>Action</th>
        </tr>
        {{range .Connections}}
            <tr>
                <td><a href="/connections/{{.Id}}"> {{.Id}} </a></td>
                <td>{{.Name}}</td>
                <td>{{.ConnectionTime.Local}}</td>
                <td>{{.Status}}</td>
                <td>
                    <table border="yes">
                        <tr>
                            <th>Name</th>
                            <th style="text-align:right">In(Bytes)</th>
                            <th style="text-align:right">In(Msgs)</th>
                            <th style="text-align:right">Out(Msgs)</th>
                            <th style="text-align:right">Out(Bytes)</th>
                        </tr>
                        {{range .StackProperties}}
                            <tr>
                                <td>{{.Name}}</td>
                                <td style="text-align:right">{{.InValue.ByteCount}}</td>
                                <td style="text-align:right">{{.InValue.MsgCount}}</td>
                                <td style="text-align:right">{{.OutValue.MsgCount}}</td>
                                <td style="text-align:right">{{.OutValue.ByteCount}}</td>

                            </tr>
                        {{end}}
                    </table></td>
                <td><a href="/connections/close/id/{{.Id}}"> Close</a></td>
            </tr>
        {{end}}
    </table>
</body>
</html>